<div fxLayout="column" fxLayoutAlign="start none">
  <div fxLayout="column" fxLayoutAlign="center center">
    <br/><br/>
    <img src="assets/imagenes/TeMudoLogo.PNG">
    <br/><br/>
    <h2>La startup que necesitabas para ocuparse de tus mudanzas</h2>

  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly start">
    <mat-card>
      <mat-card-title>Confianza</mat-card-title>
      <mat-card-content>
        <p>Te aseguramos que tus preciados bienes llegarán a tu destino intactos
          y así empezar una nueva etapa de tu vida sin preocupaciones. Todo esto
        gracias a nuestro sistema de calificación que te permitirá saber de primera
      mano el desempeño de los prestadores del servicio.</p>

      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Cotizador</mat-card-title>
      <mat-card-content>
        <p>Te ofrecemos las opciones que más se adapten a tus necesidades,
          para ello contamos con un sistema cotizador que te permitirá
          obtener una aproximación precisa del costo de tu mudanza.
          Inténtalo, es gratis!.</p>

      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Rastreo</mat-card-title>
      <mat-card-content>
        <p>Te aseguramos que tus preciados bienes llegarán a tu destino intactos y así empezar una nueva etapa de tu vida sin preocupaciones.</p>

      </mat-card-content>
    </mat-card>
  </div>
</div>

