<div fxLayout="column" class="container-inputs" fxLayoutAlign="center center">
  <h2>Nuestro Compromiso con la Calidad</h2>
  <p> En TeMudo, nos comprometemos a proporcionar un servicio de alta calidad en todas las interacciones con
    nuestros clientes y proveedores. Trabajamos incansablemente para garantizar que cada experiencia de mudanza sea
    segura, eficiente y satisfactoria.</p>
  <br />
  <h2>Contacto</h2>

  <p>Para obtener más información sobre nuestros servicios o para cualquier consulta, no dude en ponerse en contacto
    con nuestro equipo en cualquier momento. Estamos aquí para ayudarlo en cada etapa de su viaje de mudanza.</p>


  <br />
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Nuestra Misión">
      <br />
      <p class="container-inputs"> En TeMudo, nuestra misión es simplificar y mejorar el proceso de mudanzas para todos.
        Nos esforzamos por
        proporcionar una plataforma integral que conecte a los clientes con los mejores proveedores de servicios de
        mudanzas, ofreciendo transparencia, conveniencia y confianza en cada paso del camino.
      </p>
    </mat-tab>
    <mat-tab label="Nuestra Visión">
      <br />
      <p class="container-inputs">
        Como líderes en el mercado de servicios de mudanzas, aspiramos a ser reconocidos como la opción preferida tanto
        para los clientes que buscan una experiencia sin complicaciones al mudarse, como para los profesionales del
        sector
        que desean expandir su alcance y hacer crecer sus negocios de manera sostenible.
      </p>
    </mat-tab>
    <mat-tab label="Nuestros Servicios">
      <ol class="container-inputs">
        <li>

          <b>Marketplace de Mudanzas:</b>
          Nuestra plataforma actúa como un mercado en línea donde los clientes pueden explorar una amplia gama de
          proveedores de servicios de mudanzas. Desde empresas locales hasta operadores nacionales, ofrecemos una
          variedad
          de opciones para satisfacer las necesidades y presupuestos individuales de nuestros usuarios.

        </li>
        <li>

          <b>Cotizador en Línea:</b>
          Facilitamos el proceso de obtener presupuestos precisos y transparentes para mudanzas. Nuestro cotizador en
          línea permite a los clientes ingresar los detalles de su mudanza y recibir cotizaciones instantáneas de
          múltiples proveedores, lo que les ayuda a tomar decisiones informadas y a planificar su mudanza de manera
          eficiente.

        </li>
        <li>

          <b>Reseñas y Valoraciones:</b>
          Valoramos la retroalimentación de nuestros usuarios y creemos en la transparencia. Por eso, ofrecemos un
          sistema
          integral de reseñas y valoraciones donde los clientes pueden compartir sus experiencias con los proveedores de
          servicios de mudanzas. Esto ayuda a otros usuarios a tomar decisiones informadas y promueve la excelencia en
          el
          servicio.

        </li>
      </ol>
    </mat-tab>
  </mat-tab-group>
</div>
